*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle at center, rgb(44, 33, 138) 0%, black 100%);
    background-size: 200% 200%;

    min-height: 100vh;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    animation:asmrFlow 15s ease-in-out infinite;
}

@keyframes asmrFlow{
    0%{
        background-position: 0% 50%;
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(20deg);
    }
    100%{
        background-position: 0% 50%;
        filter: hue-rotate(0deg);
    }
}
